.card {
    margin: 0px 6px 13px 6px;
    border: none;
    width: 265px
}

.card-footer{
    padding: 0;
}

.card-footer button{
    cursor: pointer;
}
.btnColor{
    background-color: #078d67;
    color: white;
}