.dropdown-toggle {
    cursor: pointer;
}

.badge-pill{
    margin-left: 4px;
}

.navColor{
    background-color: #495057;
}

.navStyle {
    color: white !important;
    font-weight: bold;
}

.brandImg{
    font-size: larger;
    color: white;
}

/* .navbar-brand:active {
    color: white;
}

.navbar-brand:hover {
    color: white;
} */