<img src="../../assets/images/1.png" alt="image" style="width: 100%; margin-bottom: 17px;">
<div class="main-container">
  <div class="filter-box">
    <app-product-filter [category]="category"></app-product-filter>
  </div>
  <div class="products-container" *ngIf="cart$ | async as cart">
    <div *ngFor="let p of filteredProducts; let i = index">
      <app-product-card [product]="p" [shopping-cart]="cart"></app-product-card>
    </div>
    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
  </div>
</div>